@{
    ViewData["Title"] = "Home Page";
    var mostpicks = ViewData["mostpicks"] as List<PictureData>;
    var first_mostpicks = ViewData["first_mostpicks"] as PictureData;
    var beautybackyard = ViewData["beautybackyard"] as List<PictureData>;
    var livingroom = ViewData["livingroom"] as List<PictureData>;
    var apartment = ViewData["apartment"] as List<PictureData>;
}

<!-- ======= about Section ======= -->

<section id="about" class="about" style="margin-top:20vh">
    <div class="container">


        <div class="row">

            <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0" style="padding-right:3vw;padding-left:6vw">
                <h3 data-aos="fade-up" style="color:darkblue;font-weight:800">Forget Busy Work, Start Next Vacation</h3>
                <p data-aos="fade-up">
                    We provide what you need to enjoy your holiday with Family.<br />Time to make another memorable moment.
                </p>
                <p>
                    <button class="btn btn-primary" style="margin-bottom:7vh;color:white;">Show me Now</button>
                </p>
                <div class="icon-box">




                    <div style="display:flex;justify-content:space-between; ">

                        <div>
                            <span>
                                <img src="~/img/ic_traveler.svg" class="img-fluid" alt="travel"><br />
                                <small><b>80,409</b> travellers</small>
                            </span>

                        </div>

                        <div>
                            <span style="margin-right:3vw">
                                <img src="~/img/ic_treasure.svg" class="img-fluid" alt="treasures"><br />
                                <small><b>862</b> treasures</small>
                            </span>
                        </div>

                        <div>
                            <span style="margin-right:4vw">
                                <img src="~/img/ic_cities.svg" class="img-fluid" alt="location"><br />
                                <small><b>1,482</b>cities</small>
                            </span>
                        </div>
                    </div>
                </div>



            </div>

            <div class="col-xl-6 col-lg-7" data-aos="fade-right">
                <img src="~/img/banner.svg" class="img-fluid" alt="" width="400vw" height="400vh" style=" border-radius: 100px 15px 15px 15px;">
            </div>

        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= Most picks ======= -->
<section id="steps" class="steps section-bg">
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Most Picks</h4>
            </div>
        </div>

        <div style="display:flex;flex-direction:row;justify-content:space-around">
            <a  asp-controller="Details"  asp-action="PropDetails">
            <div style="position:relative;" col-4 class="side-img">
                 <img src="@first_mostpicks?.ImageUrl" class="img-fluid" alt="" width="inherit" height="inherit" style="border-radius:20px;" data-aos="fade-in">
                <span class="design1">@first_mostpicks.City, @first_mostpicks.Location</span>
                <span class="design2">$ @first_mostpicks.Price Per Night</span>
            </div>
            </a>

            <div class="row no-gutters col-8">
                @if(mostpicks != null)
                {
                    @foreach(var property in mostpicks)
                    {
                        @if(property == first_mostpicks)
                        {
                            continue;
                        }
                        else
                        {
                            <div class="col-lg-6 col-md-6 driver" data-aos="fade-in">
                                <div style="position:relative" class="right-img">
                                    <img src="@property.ImageUrl" class="img-fluid" alt="" width="inherit" height="inherit" style="border-radius:20px;" data-aos="fade-in">
                                    <span class="design1">@property.City, @property.Location</span>
                                    <span class="design2">$@property.Price Per Night</span>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</section><!-- End Most Picks -->
<!-- ======= Houses with beauty Backyards ======= -->
<section id="steps" class="steps section-bg">
    <div class="container">
        <div class="row"style="margin-bottom:3vh">
            <div class="col">
                <h4>Houses with beautiful Backyards</h4>
            </div>
        </div>


        <div style="display:flex;flex-direction:row;justify-content:space-between;text-align:center">

            <div class=" row no-gutters">

                @if (mostpicks != null)
                {
                    foreach (var property in beautybackyard)
                    {
                        if (property.Popularity == "Popular Choice")
                        {
                            <div class="col-lg-3 col-md-6" data-aos="fade-left" data-aos-delay="100">
                                <div style="position:relative;">
                                    <img src="@property.ImageUrl" class="img-fluid" alt="" style="border-radius:20px;height:30vh;width:250vw" data-aos="fade-in">
                                    <span class="design2">@property.Popularity</span>
                                </div>
                                <h6>@property.City</h6>
                                <p>@property.Location, Indonesia</p>
                            </div>
                        }
                        else
                        {

                            <div class="col-lg-3 col-md-6 " data-aos="fade-right" data-aos-delay="100">
                                <img src="@property.ImageUrl" class="img-fluid" alt="" width="inherit" height="inherit" style=" border-radius:20px;height:30vh;width:250vw;" data-aos="fade-in">
                                <h6>@property.City</h6>
                                <p>@property.Location, Indonesia</p>
                            </div>
                        }

                    }

                }

               

            </div>


        </div>

    </div>
</section><!-- End Houses with beauty Backyards -->
<!-- ======= Hotels with large living rooms ======= -->
<section id="steps" class="steps section-bg">
    <div class="container">
        <div class="row"style="margin-bottom: 3vh">
            <div class="col">
                <h4>Hotels with large living rooms</h4>
            </div>
        </div>


        <div style="display:flex;flex-direction:row;justify-content:space-between;text-align:center">

            <div class=" row no-gutters">

                @if (mostpicks != null)
                {
                    foreach (var property in livingroom)
                    {
                        if (property.Popularity == "Popular Choice")
                        {
                            <div class="col-lg-3 col-md-6" data-aos="fade-left" data-aos-delay="100">
                                <div style="position:relative;">
                                    <img src="@property.ImageUrl" class="img-fluid" alt="" style="border-radius:20px;height:30vh;width:250vw" data-aos="fade-in">
                                    <span class="design2">@property.Popularity</span>
                                </div>
                                <h6>@property.City</h6>
                                <p>@property.Location, Indonesia</p>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-3 col-md-6 " data-aos="fade-right" data-aos-delay="100">
                                <img src="@property.ImageUrl" class="img-fluid" alt="" width="inherit" height="inherit" style=" border-radius:20px;height:30vh;width:250vw;" data-aos="fade-in">
                                <h6>@property.City</h6>
                                <p>@property.Location, Indonesia</p>
                            </div>
                        }

                    }

                }


               
        </div>

    </div>
</section><!-- Hotels with large living rooms -->
<!-- =======  Apartments with Kitchen set ======= -->
<section id="steps" class="steps section-bg">
    <div class="container">
        <div class="row" style="margin-bottom: 3vh">
            <div class="col">
                <h4>Apartments with Kitchen set</h4>
            </div>
        </div>


        <div style="display:flex;flex-direction:row;justify-content:space-between;text-align:center">

            <div class=" row no-gutters">

                @if (mostpicks != null)
                {
                    foreach (var property in apartment)
                    {
                        if (property.Popularity == "Popular Choice")
                        {
                            <div class="col-lg-3 col-md-6" data-aos="fade-left" data-aos-delay="100">
                                <div style="position:relative;">
                                    <img src="@property.ImageUrl" class="img-fluid" alt="" style="border-radius:20px;height:30vh;width:250vw" data-aos="fade-in">
                                    <span class="design2">@property.Popularity</span>
                                </div>
                                <h6>@property.City</h6>
                                <p>@property.Location, Indonesia</p>
                            </div>
                        }
                        else
                        {
                            <div class="col-lg-3 col-md-6 " data-aos="fade-right" data-aos-delay="100">
                                <img src="@property.ImageUrl" class="img-fluid" alt="" width="inherit" height="inherit" style=" border-radius:20px;height:30vh;width:250vw;" data-aos="fade-in">
                                <h6>@property.City</h6>
                                <p>@property.Location, Indonesia</p>
                            </div>
                        }
                    }
                }
            </div>
        </div>
    </div>
</section><!-- Apartments with Kitchen set -->

<section id="about" class="about" style="margin-top:10vh">
    <div class="container">


        <div class="row">
            <div class="col-xl-6 col-lg-7" data-aos="fade-right">
                <img src="~/img/foto_keluarga.svg" class="img-fluid" alt="" width="400vw" height="400vh" style=" border-radius: 100px 15px 15px 15px;">
            </div>


            <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0" style="padding-right:3vw;padding-left:6vw">
                <h5 data-aos="fade-up" style="color:darkblue;font-weight:400">Happy Family</h5>
                <img src="~/img/stars.jpg" class="img-fluid" alt="" width="inherit" height="inherit" data-aos="fade-in" />

                <h3 data-oas="fade-up" style="color:darkblue;font-weight:400">
                    What a great trip with my family and 
                    I should try again next time soon ...
                </h3>

                <p data-aos="fade-up">
                    Anggar, Product Designer
                </p>
                <p>
                    <button class="btn btn-primary" style="margin-bottom:7vh;color:white;">Read Their Story</button>
                </p>
            </div>
        </div>
    </div>
</section><!-- End About Section -->